---
import SocialIcons from "../socialIcons/socialIcons.jsx";
---

<footer class="bg-gray-950 text-white">
  <div
    class="container mx-auto flex flex-col items-center justify-between px-6 py-12 lg:flex-row lg:px-20"
  >

    <div
    class="text-sm text-gray-500"
  >
    davidsantiagovelascodaza@gmail.com
  </div>

    <!-- Social Media Links -->
    <div class="flex space-x-4 ">
      <SocialIcons client:visible />
    </div>
  </div>

</footer>
