---
import MiFoto from "../../assets/img/MiFoto.png";
---

<!-- Contenedor principal -->
<div
  class="mx-auto mt-20 flex max-w-6xl flex-col items-center gap-8 px-6 lg:flex-row "
>
  <!-- Imagen -->
  <div
    class="border-primary h-64 w-64 overflow-hidden rounded-2xl shadow-lg md:h-96 md:w-96 drop-shadow-[4px_4px_0_#7836cf]"
  >
    <img
      src={MiFoto.src}
      alt="Foto de David"
      class="h-full w-full object-cover"
    />
  </div>

  <!-- Texto -->
  <div class="flex-1 text-center text-gray-300 lg:text-left">
    <h2 class="text-3xl font-bold text-white">
      Hi! My name is <span class="text-white text-shadow">David</span>
    </h2>
    <p class="mt-4">
      I am a <span class="text-primary font-semibold"
        >Software Engineer</span
      > gratuated from
      <span class="text-primary font-semibold">Universidad Pontificia Bolivariana</span>, with a strong academic background in software development, data science, and full-stack development. I have experience working with React, TypeScript, Node.js, Java, REST APIs, and databases such as MySQL, MongoDB, and Firestore.
    </p>
    <p class="mt-2">
      I consistently stood out for my academic performance, ranking 7th overall at my university and 2nd among Systems Engineering students in the <span class="text-primary font-semibold">national Saber Pro</span> examination in Colombia. I also graduated from high school with the <span class="text-primary font-semibold">highest ICFES score.</span>
    </p>
    <p class="mt-2">
      I am an energetic person with a constant desire to learn, improve, and expand my technical skills while building efficient and impactful software solutions.
    </p>
  </div>
</div>
